*{
    padding: 0;
    margin:0;
    text-decoration: none;  
    list-style: none; /* saco los puntitos de las listas */
    box-sizing: border-box; /*para que no se salgan del contendor*/
}
section {
    background: url(../img/auto03.jpg);
    background-size: cover;
    background-position: center center; /*tanto arriba como abajo*/
    height:  calc(100vh - 130px);  /* que ocupe toda la pantalla pero restar 80 del header*/
    }
nav{
    background-color: black;
    height: 80px;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px; /* lo lleve a la derecha*/
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
nav ul li a{
 color: white;
 font-size: 20px;
 padding: 7px 13 px;
 border-radius: 3px;
 text-transform: uppercase;
}
li a:hover{
    background: rgb(58, 58, 224);
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 50px;
    cursor: pointer;
    display: none;   /* para que no se vea en pc pero si en celulares */
}
#check{
    display: none;
}
main{
    max-width: 1200px;
    width: 100%;
    background: linear-gradient(90deg,rgb(225, 235, 225), rgb(139, 147, 151));
}
h2{
    font-size: 3.5rem;
    color: blue;
    padding-left: 10%;
    padding-top: 2%;
 } 
h3{
    font-size: 2rem;
    color: blue;
    padding-left: 20%;
    padding-top: 2%;
}
.precio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    margin-left: 1rem;
    margin-right: 1rem;
    background: linear-gradient(90deg,rgb(153, 155, 153), rgb(163, 199, 218));
    color: rgb(29, 28, 28);
    padding-left: 5%;
    padding-right: 5%;
}
.button {
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #5848eb;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #69b9ee}

.button:active {
  background-color: #69b9ee;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-column-gap:  0.5rem;
    grid-row-gap: 1rem;
    max-width: 1280px;
    height: auto;
    width: 85%;
    margin-left: 1rem;
    margin-right: 0;
    padding-top: 1rem;
}
.item {
    display: grid;
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    margin-right: 1rem;
    background: linear-gradient(90deg,rgb(153, 155, 153), rgb(163, 199, 218));
    color: rgb(77, 74, 74);
    padding: 10px 20px 20px 20px;
    font-weight: bold;
}
p{
    padding-top: 00.5rem;
}
@media screen and (max-width: 640px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr
    }
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    }
.map{
        width: 120%;
        height: 10%;
        border-left: 1px;
        }
.ubi{
        font-style: normal;
        margin: 4rem;
        padding: 0.5rem;
        border-radius: 30%;
        background: rgba(36, 6, 92, 0.75);
        color:aqua
            }


/* responsive para tablet*/

@media (max-width: 960px){
     .enlace {padding-left: 20px; }
     nav ul li a{  font-size: 16px; }
}

/* para celulares*/
@media (max-width: 640px){
    .checkbtn{
        display: block;
        }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 22px;
   }
   li a:hover, li a.active{
     background: none;
     color: red;
        }
    #check:checked ~ ul{
        left:0;
    }
}